.home-page {
    text-align: center;
    padding: 20px;
  }
  
  .hero {
    display: flex;
    flex-direction: column;  /* Aligne les éléments en colonne (verticalement) */
    justify-content: center;  /* Centre les éléments verticalement */
    align-items: center;  /* Centre les éléments horizontalement */
    height: 70vh;  /* La section occupe toute la hauteur de la fenêtre */
    background-color: #f5f5f5;  /* Ajoute un fond (si nécessaire) */
    text-align: center;  /* Centre le texte dans chaque élément */
  }
  
  .hero h1 {
    font-size: 3rem;  /* Taille du texte pour le titre */
    margin-bottom: 20px;  /* Espace sous le titre */
  }
  
  .hero p {
    font-size: 1.5rem;  /* Taille du texte pour le paragraphe */
    color: #777;  /* Couleur du texte du paragraphe */
  }
  
  .features {
    margin: 40px 0;
    display: flex;
    flex-direction: column;  /* Aligne les éléments en colonne (verticalement) */
    justify-content: center;  /* Centre les éléments verticalement */
    align-items: center;  /* Centre les éléments horizontalement */
    height: 70vh;  /* La section occupe toute la hauteur de la fenêtre */
    background-color: #f5f5f5;  /* Ajoute un fond (si nécessaire) */
    text-align: center;  /* Centre le texte dans chaque élément */
  }
  
  .before::before {
    content: '“';  
    font-size: 100px; 
    color: #ccc; 
    top: -35px; 
    left: 5%; 
    opacity: 0.5;  
  }
  .features ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem; 
    color: #777;  
  }
  
  .features li {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .recent-books {
    margin: 40px 0;
  }
  
  .book-slide {
    padding: 10px;
    text-align: center;
  }
  
  .book-slide-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .testimonials {
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 40px;
  }
  
  