.home-page {
    text-align: center;
    padding: 20px;
  }
  
  .hero {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
    background-color: #f5f5f5;  
    text-align: center; 
  }
  
  h1 {
   
    font-family: 'StickyBook', serif;
    color: #FF6F61 !important;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;  
    color: #777;  
  }
  
  .features {
    margin: 40px 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    height: 70vh;  
    background-color: #f5f5f5;  
    text-align: center; 
  }
  

  .recent-books
  {
    margin: 40px 0; 
    align-items: center; 
    height: 70vh;  
    width: 100%;

    text-align: center; 
  }
  .before::before {
    content: '“';  
    font-size: 100px; 
    color: #ccc; 
    top: -35px; 
    left: 5%; 
    opacity: 0.5;  
  }
  .features ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem; 
    color: #777;  
  }
  
  .features li {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .recent-books {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .carousel-caption h3 {
    font-size: 1.5em;
    color: #fff;
  }
  
  .carousel-caption p {
    font-size: 1em;
    color: #fff;
  }
  .carousel-item img {
    max-width: 50%;     /* Ajuster à la largeur maximale disponible */
    max-height: 200px;   /* Limite la hauteur des images */
    object-fit: cover;   /* Assure que les images restent bien proportionnées */
    margin: 0 auto;      /* Centrer les images */
  }
/* Modifier la couleur et l'apparence des flèches */
/* Remplace les icônes SVG par les symboles < et > */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none; /* Masque les icônes SVG par défaut */
}

/* Style pour la flèche gauche (<) */
.carousel-control-prev {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #B2E0D9; /* Changer la couleur de la flèche */
}

.carousel-control-prev::before {
  content: "<"; /* Remplace l'icône par le symbole < */
  font-size: 3rem;
  color: #B2E0D9; /* Couleur de la flèche gauche */
}

/* Style pour la flèche droite (>) */
.carousel-control-next {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #B2E0D9; /* Changer la couleur de la flèche */
}

.carousel-control-next::before {
  content: ">"; /* Remplace l'icône par le symbole > */
  font-size: 3rem;
  color: #B2E0D9; /* Couleur de la flèche droite */
}


  
  
  .testimonials {
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 40px;
  }
  
  