.container {
    background-color: #f4f9f8;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px !important;
    margin:50px auto; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.book-club-title {
    font-family: 'StickyBook', serif;
    color: #FF6F61; 
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h1{
    font-family: 'StickyBook', serif;
    color: #FF6F61 !important; 
    font-size: 2.5rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-family: 'Baskerville', serif;
    color: #333;
}


.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FF6F61; 
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #B2E0D9 !important; 
    border: none !important; 
    outline: none; 
    font-family: 'Open Sans', sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #B2E0D9;
}

.text-center a {
    color: #FF6F61;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.text-center a:hover {
    text-decoration: underline;
}

.nav-link.btn-link {
    color: #FF6F61; 
    text-decoration: none; 
}

.nav-link.btn-link:hover {
    color: #B2E0D9; 
    text-decoration: none; 
}

form {
    margin-top: 20px;
}
#img-uploaded{
    width: 50px; 
    height: 50px;
    object-fit: cover;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #FF6F61;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    height: auto;
    max-height: 180px; 
    min-height: 100px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Changement de couleur à l'état actif */
  textarea:focus {
    border-color: #FF6F61 !important; /* Couleur bleu claire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none; /* Supprime le contour bleu standard */
  }
  
  /* Style pour rendre le texte lisible */
  textarea::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  /* Réactivité pour les petits écrans */
  @media (max-width: 768px) {
    textarea {
      font-size: 14px;
      padding: 10px;
    }
  }
  

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .book-club-title {
        font-size: 2rem;
    }

    .btn-primary {
        font-size: 1rem;
    }
}
